 <div class="user-details">
  <h1> My Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Data Science</h2>
      <i class="fa-brands fa-python"></i>
     <i class="fa-brands fa-r-project"></i>
     
      <p>Master's of Science in Computer Science - University of Chicago 2020 </p>
      <p>Data Science Major who is passionate about the power of data, as it allows him to enhance his analytical skills and creativity for data storytelling and analytics visualizations. </p>
    </div>

</div>
